
/* performance metrics */
#metrics {
    color: #464646; /*#fff;*/ /*#fff;*/
    /*background-color: #efefef; #abbf78; /*#fff;*/ /*#A52A2A;*/ /* #A0522D; */
    /*background-color: #555;*/
    /*background-image: -moz-linear-gradient(center top , #ffffff, #eaeaea);*/
    /*background-color: #999;*/
    /*background-color: #fff; /*#eee;*/
    /*background-image: -moz-linear-gradient(center top , #555, #111);*/
    /*background-color: #abbf78;*/
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    font-size: 12px;
    /*line-height: 20px;*/
    text-align: left;
    font-family: Consolas, monospace, serif;
}

#metrics label, span {
    display: inline;
}

#clearStatsLink,
#refreshMetricsLink {
    padding-left: 10px;
    cursor: pointer;
}

.metricsWarning {
    background-color: firebrick; /*#A52A2A; /*red; darkred;*/
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0px 6px;
}

.metricsAttention {
    background-color: darkorange; /*#D85721; /*#f4b04f; /*#fffc19; /*yellow;*/
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0px 6px;
}

.metricsGrouping {
    white-space: nowrap;
    display: inline-block;
    /*padding-left: 10px;*/
    padding: 2px 5px;
    margin: 3px 5px;
    /*color: #fff;*/
    /*background-image: -moz-linear-gradient(center top , #555, #111);*/
    /*background-image: -moz-linear-gradient(center top , #999, #555);*/
    background-image: -moz-linear-gradient(center top , #fff, #eaeaea);
    border-radius: 7px;
    color: #111;
}

.metricsTitle {
    font-weight: bold;
    cursor: none;
}

.metricsGroupingTitle {
    /*font-weight: bold;*/
    text-decoration: underline;
}

.metricsLink {
    text-decoration: none;
    color: #07c; /*#00fafa;*/
    cursor: pointer;
    white-space: nowrap;
}

/*
.metricsLink:hover .metricsTitle {
    display:block;
    position:absolute;
    background-color: white;
    color: black;
}*/

.metricsCollection {
    padding: 10px;
}
.metricsCollectionOdd {
    background-color: #eee;
}
.metricsCollectionEven {
    background-color: #fff;
}

.collectionDialog {
    display: none;
    max-height:750px;
}
